body{
   font: 20px Arial;

}

.navbar{
    background-color: #1e1e2f;
}


.back-body{
    background-color: #d0d0e1;
}

#linha-vertical {
    height: 500px;
    border-right: 1px solid #9292b9;
}

.wrapper{
    min-height: 100vh;
}

.margin{
    padding-top: 10px;
    padding-bottom: 50px;
}


p.truncar-31{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}


img{
    width: 200px;
    height: 230px;
}

.produtos{
   background-color:  #e6e6e6;
}

footer{
    background-color: #1e1e2f;
    color: white;
    font-size: 12px;
    padding-bottom: 10px;
    padding-top: 10px;
}

