body{
   font: 20px Arial;

}

.navbar{
    background-color: #1e1e2f;
}

.quemsomos{
    background-color: #d0d0e1;
    color: #1e1e2f;

}

.back-body{
    background-color: #d0d0e1;
}

#linha-vertical {
    height: 500px;
    border-right: 1px solid #9292b9;
}

.wrapper{
    min-height: 100vh;
}

.margin{
    padding-top: 10px;
    padding-bottom: 50px;
}
.margin-buscar{
    padding-top: 20px;
}
.parceiros{
    background-color:  #9292b9;
}

.img{
    padding-bottom: 10px;
}

.produtos{
   background-color:  #e6e6e6;
}

.centro{
    padding-left: 60px;
    padding-right: 50px;
    padding-bottom: 50px;
}

.img-produtos{
    background-color: #bfbfbf;
}

footer{
    background-color: #1e1e2f;
    color: white;
    font-size: 12px;
    padding-bottom: 10px;
    padding-top: 10px;
}

#h3{
    color:#bfbfbf;
}